<!DOCTYPE html>
<html>
<head>
    <title>Image Editing</title>
</head>
<body>
    <h2>Image Editor</h2>
    <p>Insert your image  here!</p>
    <input type="file" id="upload" accept="image/*">
    <br><br>
    <form>
        <input type="radio" id="scalar" name="rad">
        <label for="scalar">Scalar scaling</label>
        <input type="number" id="scale" placeholder="Scale (integer)">
        <br><br>
        <input type="radio" id="skew" name="rad">
        <label for="skew">Image skewing</label>
        <input type="number" id="x_skew" placeholder="X (0<x<1)">
        <input type="number" id="y_skew" placeholder="Y (0<x<1)">
        <br><br>
        <input type="radio" id="rotate" name="rad">
        <label for="skew">Image rotation</label>
        <input type="number" id="angle" placeholder="Angle (degrees)">
        <br><br>
        <input type="radio" id="transpose" name="rad">
        <label for="skew">Image transpose</label>
    </form>
    <br>
    <button onclick="rotateImage()">Edit</button>
    <canvas id="canvas"></canvas>
</body>
</html>
